# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\alan_java_springcloud\spring_cloud2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
